<!-- component -->
<div class="col-2 p-3 bg-dark text-light container">
  <a href="" class="row my-4 mx-2 h2">Book Shop</a>
  <nav class="row nav flex flex-column justify-content-center m-1">

    <div class="nav-item h4 py-2 px-3 btn btn-dark text-start">Revenue</div>
    <hr>
    <a href="book" class="nav-item h4 py-2 ps-3 btn btn-dark text-start">Book</a>
    <hr>
    <a href="order" class="nav-item h4 py-2 ps-3 btn btn-dark text-start">Order</a>
    <hr>
    <a href="supplement" class="nav-item h4 py-2 ps-3 btn btn-dark text-start">Supplement</a>
    <hr>
    <a href="category" class="nav-item h4 py-2 ps-3 btn btn-dark text-start">Category</a>
    <hr>

    <a href="" class="nav-item h4 py-2 ps-3 btn btn-dark text-start" data-bs-toggle="collapse"
      data-bs-target="#promotion">Promotion</a>
    <div class="collapse nav" id="promotion">
      <div class="nav-item h4 py-2 ps-4 w-100 btn btn-dark text-start">Sale</div>
      <div class="nav-item h4 py-2 ps-4 w-100 btn btn-dark text-start">Recommend</div>
    </div>
    <hr>

    <div class="nav-item h4 py-2 px-3 btn btn-dark text-start">Author</div>
    <hr>
    <div class="nav-item h4 py-2 px-3 btn btn-dark text-start">User</div>
  </nav>
</div>