<!-- component -->
<section class="p-1 p-xl-3 bg-dark text-light 
  d-flex flex-row flex-xl-column 
  justify-content-evenly justify-content-xl-start
  align-items-center align-items-xl-start">
  <a href="/" class="m-1 my-xl-4 mx-xl-2 h2">Book Shop</a>
  <a href="/revenue" class="nav-item h4 py-2 ps-3 btn btn-dark text-start d-flex flex-row align-items-center">
    <img src="/png/revenue.png" alt="" class="icon-invert my-1 mx-2">
    <div class="d-none d-xl-block">
      Revenue
    </div>
  </a>
  <hr class="m-1 d-none d-xl-block">
  <a href="/book" class="nav-item h4 py-2 ps-3 btn btn-dark text-start d-flex flex-row align-items-center">
    <img src="/png/book.png" alt="" class="icon-invert my-1 mx-2">
    <div class="d-none d-xl-block">
      Book
    </div>
  </a>
  <hr class="m-1 d-none d-xl-block">
  <a href="/order" class="nav-item h4 py-2 ps-3 btn btn-dark text-start d-flex flex-row align-items-center">
    <img src="/png/order.png" alt="" class="icon-invert my-1 mx-2">
    <div class="d-none d-xl-block">
      Order
    </div>
  </a>
  <hr class="m-1 d-none d-xl-block">
  <a href="/supplement" class="nav-item h4 py-2 ps-3 btn btn-dark text-start d-flex flex-row align-items-center">
    <img src="/png/supplement.png" alt="" class="icon-invert my-1 mx-2">
    <div class="d-none d-xl-block">
      Vendor
    </div>
  </a>
  <hr class="m-1 d-none d-xl-block">
  <a href="/category" class="nav-item h4 py-2 ps-3 btn btn-dark text-start d-flex flex-row align-items-center">
    <img src="/png/category.png" alt="" class="icon-invert my-1 mx-2">
    <div class="d-none d-xl-block">
      Category
    </div>
  </a>
  <hr class="m-1 d-none d-xl-block">

  <a href="/promotion" class="nav-item h4 py-2 ps-3 btn btn-dark text-start d-flex flex-row align-items-center">
    <img src="/png/promotion.png" alt="" class="icon-invert my-1 mx-2">
    <div class="d-none d-xl-block">
      Promotion
    </div>
  </a>
  <hr class="m-1 d-none d-xl-block">

  <a href="/about" class="nav-item h4 py-2 ps-3 btn btn-dark text-start d-flex flex-row align-items-center">
    <img src="/png/about.png" alt="" class="icon-invert my-1 mx-2">
    <div class="d-none d-xl-block">
      About
    </div>
  </a>
  <hr class="m-1 d-none d-xl-block">

  <a href="/user" class="nav-item h4 py-2 ps-3 btn btn-dark text-start d-flex flex-row align-items-center">
    <img src="/png/user.png" alt="" class="icon-invert my-1 mx-2">
    <div class="d-none d-xl-block">
      User
    </div>
  </a>
  <!-- Logout -->
  <a href="/auth/logout" class="nav-item h4 py-2 ps-3 btn btn-dark text-start d-flex flex-row align-items-center">
    <img src="/png/logout.png" alt="" class="icon-invert my-1 mx-2">
    <div class="d-none d-xl-block">
      Logout
    </div>
  </a>
</section>