{{> sidebar}}
<div class="col container-fluid">

  <div class="d-flex justify-content-between align-items-center m-4">
    <h2 class="text-left">About Us Page</h2>
    <div class="d-flex">
    </div>
  </div>


  <form id="aboutForm" action="/about" method="post"
    class="m-5 d-flex flex-column justify-content-evenly align-items-center">
    <div id="div_editor">{{data}}</div>
    <button class="btn btn-primary" id="submit" type="submit">Submit</button>
  </form>
</div>

<script>
  let editor;
  // Add event and data to button submit
  document.getElementById('submit').addEventListener('click', function (e) {
    e.preventDefault();
    const data = editor.getData();
    fetch('/about', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        editordata: data
      })
    })
      .then(res => res.json())
      .then(data => {
        showToast(data.message, 'success');
      })
      .catch(err => {
        showToast(err.message, 'danger');
      });
    
  });

  ClassicEditor
    .create(document.querySelector('#div_editor'))
    .then(newEditor => {
      editor = newEditor;
      editor.setData(`{{{data}}}`);
      showToast(data.message, 'success');
    })
    .catch(error => {
        showToast(err.message, 'danger');
    });
</script>