<!-- Edit Detail Promotion Modal -->

<div class="modal fade" id="editDetailPromotion" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Detail Promotion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="detailPromotionEditForm">
          <div class="mb-3">
            <label for="editName" class="form-label">Name</label>
            <input type="text" class="form-control" id="editName" disabled>
          </div>
          <div class="mb-3">
            <label for="editQuantity" class="form-label">Quantity</label>
            <input type="number" class="form-control" id="editQuantity" rows="3" min="1"></input>
          </div>
          <div class="mb-3">
            <label for="editDiscount" class="form-label">Discount</label>
            <input type="number" class="form-control" id="editDiscount" rows="3" min="0" required></input>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="detailPromotionEditForm">Save changes</button>
      </div>
    </div>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    const editButtons = document.querySelectorAll('.editBtn');
    let currentRow = null;

    editButtons.forEach(button => {
      button.addEventListener('click', function () {
        currentRow = button.closest('tr');
        const name = currentRow.children[1].innerText;
        const quantity = parseInt(currentRow.children[2].innerText);
        const discount = parseInt(currentRow.children[4].innerText);

        document.getElementById('editName').value = name;
        document.getElementById('editQuantity').value = quantity;
        document.getElementById('editDiscount').value = discount;
      });
    });

    document.getElementById('detailPromotionEditForm').addEventListener('submit', function () {
      event.preventDefault();

      const detailId = currentRow.getAttribute('data-detail-id');
      const data = {
        name: document.getElementById('editName').value,
        quantity: +document.getElementById('editQuantity').value,
        discount: document.getElementById('editDiscount').value * 0.01
      };

      fetch('/promotion/{{promotion.id}}/book/' + detailId, {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
        .then(response => response.json())
        .then(data => { window.location.reload(); })
        .catch((error) => {
          alert(error.message);
        });
    });
  });
</script>