// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
$custom-colors: (
  "primary":    $blue-400,
  "secondary":  $gray-400,
  "success":    $green-400,
  "info":       $cyan-400,
  "warning":    $yellow-400,
  "danger":     $red-400,
  "light":      $gray-100,
  "dark":       $gray-900
);

$theme-colors: map-merge($theme-colors, $custom-colors); 

.out_of_stock,
.pending {
    background-color: #fff3cd;
    color: #856404;
    font-weight: bold;
    border-radius: 50px;
    width: fit-content;
    padding: 5px 15px;

    &:hover {
      background-color: #ffeeba;
    }
}

.available,
.accepted {
    background-color: #d4edda;
    color: #155724;
    font-weight: bold;
    border-radius: 50px;
    width: fit-content;
    padding: 5px 15px;

    &:hover {
      background-color: #c3e6cb;
    }
}

.discontinued,
.rejected {
    background-color: #f8d7da;
    color: #721c24;
    font-weight: bold;
    border-radius: 50px;
    width: fit-content;
    padding: 5px 15px;

    &:hover {
      background-color: #f5c6cb;
    }
}


.cancelled {
    background-color: #cce5ff;
    color: #004085;
    font-weight: bold;
    border-radius: 50px;
    width: fit-content;
    padding: 5px 15px;

    &:hover {
      background-color: #b8daff;
    }
}

.coming_soon,
.delivered {
    background-color: #d1ecf1;
    color: #0c5460;
    font-weight: bold;
    border-radius: 50px;
    width: fit-content;
    padding: 5px 15px;

    &:hover {
      background-color: #bee5eb;
    }
}

.cover-image {
    width: 150px; 
    height: auto;
    object-fit: cover;
}

.icon-invert {
  width: 32;
  height: 32;
  filter: invert(1);
}