.pending {
    background-color: #fff3cd;
    color: #856404;
    font-weight: bold;
    border-radius: 50px;
    width: fit-content;
    padding: 5px 15px;
}

.pending:hover {
    background-color: #ffeeba;
}

.accepted {
    background-color: #d4edda;
    color: #155724;
    font-weight: bold;
    border-radius: 50px;
    width: fit-content;
    padding: 5px 15px;
}

.accepted:hover {
    background-color: #c3e6cb;
}

.rejected {
    background-color: #f8d7da;
    color: #721c24;
    font-weight: bold;
    border-radius: 50px;
    width: fit-content;
    padding: 5px 15px;
}

.rejected:hover {
    background-color: #f5c6cb;
}

.cancelled {
    background-color: #cce5ff;
    color: #004085;
    font-weight: bold;
    border-radius: 50px;
    width: fit-content;
    padding: 5px 15px;
}

.cancelled:hover {
    background-color: #b8daff;
}

.delivered {
    background-color: #d1ecf1;
    color: #0c5460;
    font-weight: bold;
    border-radius: 50px;
    width: fit-content;
    padding: 5px 15px;
}

.delivered:hover {
    background-color: #bee5eb;
}