{{> layout}}
<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold font-serif">Books</h1>
  <a href="/admin/books/create" class="text-blue-500 hover:underline">Create New Book</a>
  <ul class="mt-4">
  </ul>
</div>