<!-- Modal -->
<div class="modal fade" id="createBook" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="bookForm" class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="row" id="image-preview"></div>
            <div class="mb-3">
              <label for="img" class="form-label">Img</label>
              <input type="file" class="form-control" name="img" id="img">
            </div>
            <div class="mb-3">
              <label for="imageUrl" class="form-label">Or URL of Images</label>
              <input type="url" class="form-control" id="imageUrl">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" name="title" id="name" required>
            </div>
            <div class="mb-3">
              <label for="author" class="form-label">Author Name</label>
              <input type="text" class="form-control" name="author" id="author" required>
            </div>
            <div class="mb-3">
              <label for="publisher" class="form-label">Publisher Name</label>
              <input type="text" class="form-control" name="publisher" id="publisher" required>
            </div>
            <div class="mb-3">
              <label for="isbn" class="form-label">ISBN</label>
              <input type="text" class="form-control" name="isbn" id="isbn">
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input type="number" class="form-control" name="price" id="price" required>
            </div>
            <div class="mb-3">
              <label for="overview" class="form-label">Overview (optional)</label>
              <textarea class="form-control" name="overview" id="overview" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="currency" class="form-label">Currency (optional)</label>
              <input type="text" class="form-control" id="currency">
            </div>
          </div>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="bookForm">Submit</button>
      </div>
    </div>
  </div>
</div>

<script>
  // preview image when user selects an image file
  document.getElementById('img').addEventListener('change', function () {
    const file = this.files;
    if (file) {
      const reader = new FileReader();
      reader.onload = function (e) {
        const img = document.createElement('img');
        img.src = e.target.result;
        img.className = 'img-thumbnail';
        document.getElementById('image-preview').innerHTML = '';
        document.getElementById('image-preview').appendChild(img);
      }
      reader.readAsDataURL(file);
    }
  });


  document.getElementById('bookForm').addEventListener('submit', function () {
    event.preventDefault();
    const imageUrl = document.getElementById('imageUrl').value;
    const currency = document.getElementById('currency').value;

    if (!imageUrl && !document.getElementById('img').files.length) {
      alert('Please provide an image for the book');
      return;
    }

    const formData = new FormData(document.getElementById('bookForm'));
    formData.append('currency', currency || 'VND');
    formData.append('img_urls', [imageUrl]);

    fetch('/book', {
      method: 'POST',
      body: formData
    })
      .then(response => response.json())
      .then(data => {
        // Reload the page after form submission
        window.location.reload();
      })
      .catch((error) => {
        showToast(err.message, 'danger');
      });
    // Optionally close the modal after successful submission
    var myModalEl = document.getElementById('createBook');
    var modal = bootstrap.Modal.getInstance(myModalEl);
    modal.hide();
  });
</script>