<!-- Edit Modal -->
<div class="modal fade" id="editBook" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editForm">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="row" id="editImagePreview"></div>
              <div class="mb-3">
                <label for="editImg" class="form-label">Img</label>
                <input type="file" class="form-control" name="img" id="editImg">
              </div>
              <div class="mb-3">
                <label for="editURL" class="form-label">Or URL of Images</label>
                <input type="url" class="form-control" id="editURL">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label for="editName" class="form-label">Name</label>
                <input type="text" class="form-control" name="title" id="editName" required>
              </div>
              <div class="mb-3">
                <label for="editAuthor" class="form-label">Author Name</label>
                <input type="text" class="form-control" name="author" id="editAuthor" required>
              </div>
              <div class="mb-3">
                <label for="editPublisher" class="form-label">Publisher Name</label>
                <input type="text" class="form-control" name="publisher" id="editPublisher" required>
              </div>
              <div class="mb-3">
                <label for="editISBN" class="form-label">ISBN</label>
                <input type="text" class="form-control" name="isbn" id="editISBN">
              </div>
              <div class="mb-3">
                <label for="editPrice" class="form-label">Price</label>
                <input type="number" class="form-control" name="price" id="editPrice" required>
              </div>
              <div class="mb-3">
                <label for="editStatus" class="form-label">Status</label>
                <select class="form-control" id="editStatus" required>
                  <option value="AVAILABLE">Available</option>
                  <option value="OUT_OF_STOCK">Out of Stock</option>
                  <option value="COMING_SOON">Coming Soon</option>
                  <option value="DISCOUNTINUED">Discountinued</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="editOverview" class="form-label">Overview (optional)</label>
                <textarea class="form-control" name="overview" id="editOverview" rows="3"></textarea>
              </div>
              <div class="mb-3">
                <label for="editCurrency" class="form-label">Currency</label>
                <input type="text" class="form-control" name="currency" id="editCurrency" required>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="saveChanges" form="editForm">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Book Modal -->
<script>
  document.getElementById('editImg').addEventListener('change', function () {
    const file = this.files;
    if (file) {
      const reader = new FileReader();
      reader.onload = function (e) {
        const img = document.createElement('img');
        img.src = e.target.result;
        img.className = 'img-thumbnail';
        document.getElementById('editImagePreview').innerHTML = '';
        document.getElementById('editImagePreview').appendChild(img);
      };
      reader.readAsDataURL(file);
    }
  });

  document.addEventListener('DOMContentLoaded', function () {
    const editButtons = document.querySelectorAll('.editBtn');
    let currentRow = null;

    editButtons.forEach(button => {
      button.addEventListener('click', function () {
        currentRow = button.closest('tr');
        const url = currentRow.children[0].children[0].getAttribute('src');
        const name = currentRow.children[1].innerText;
        const author = currentRow.children[2].innerText;
        const publisher = currentRow.children[3].innerText;
        const isbn = currentRow.children[4].innerText;
        const price = currentRow.children[5].getAttribute('data-price');
        const status = currentRow.children[7].children[0].innerText;
        const currency = currentRow.children[5].getAttribute('data-currency');

        // preview image
        const img = document.createElement('img');
        img.src = url;
        img.className = 'img-thumbnail';
        document.getElementById('editImagePreview').innerHTML = '';
        document.getElementById('editImagePreview').appendChild(img);

        document.getElementById('editName').value = name;
        document.getElementById('editAuthor').value = author;
        document.getElementById('editPublisher').value = publisher;
        document.getElementById('editISBN').value = isbn;
        document.getElementById('editPrice').value = price;
        document.getElementById('editCurrency').value = currency;

        const statusSelect = document.getElementById('editStatus');
        for (let i = 0; i < statusSelect.options.length; i++) {
          if (statusSelect.options[i].innerText === status) {
            statusSelect.selectedIndex = i;
            break;
          }
        }
      });
    });

    document.getElementById('editForm').addEventListener('submit', function () {
      event.preventDefault();
      const imageUrl = document.getElementById('editURL').value;
      const currency = document.getElementById('editCurrency').value;
      const status = document.getElementById('editStatus').value;

      if (!imageUrl && !document.getElementById('editImg').files.length) {
        alert('Please provide an image');
        return;
      }

      const formData = new FormData(document.getElementById('editForm'));
      const bookId = currentRow.getAttribute('data-book-id');
      formData.append('img_urls', [imageUrl]);
      formData.append('status', status);

      fetch(`book/${bookId}`, {
        method: 'PATCH',
        body: formData
      })
        .then(response => response.json())
        .then(() => {
          window.location.reload();
        })
        .catch((error) => {
          alert(error.message);
        });
    });
  });
</script>